<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE mapper PUBLIC '-//mybatis.org//DTD Mapper 3.0//EN'
  'http://mybatis.org/dtd/mybatis-3-mapper.dtd'>

<mapper namespace='com.pocopay.springmvc.mapper.AccountMapper'>

	<select id='getAccountByName' parameterType='int' resultType='Account'>
		SELECT
		account_id as accountID,
		owner_name as ownerName,
		date_of_birth as dateOfBirth,
		account_balance as accountBalance
		FROM ACCOUNT
		WHERE owner_name = #{ownerName}
	</select>
	
	<select id='getAccountByID' parameterType='int' resultType='Account'>
		SELECT
		account_id as accountID,
		owner_name as ownerName,
		date_of_birth as dateOfBirth,
		account_balance as accountBalance
		FROM ACCOUNT
		WHERE account_id = #{accountID}
	</select>

	<resultMap type='Account' id='AccountResult'>
		<id property='accountID' column='account_id' />
		<result property='ownerName' column='owner_name' />
	</resultMap>

	<select id='getAllAccounts' resultMap='AccountResult'>
		SELECT * FROM ACCOUNT
	</select>

	<insert id='createAccount' parameterType='Account'
		useGeneratedKeys='true' keyProperty='accountID'>
		INSERT INTO ACCOUNT(account_id, owner_name, date_of_birth, account_balance )
		VALUES(#{accountID}, #{ownerName}, #{dateOfBirth},#{accountBalance})
	</insert>

	<update id='updateAccountBalance' parameterType='Account'>
		UPDATE ACCOUNT
		SET
		account_balance= #{accountBalance}
		WHERE account_id = #{accountID}
	</update>
	
	<delete id='deleteAccount' parameterType='int'>
		DELETE FROM ACCOUNT WHERE account_id = #{accountID}
	</delete>

</mapper>